@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
@import "../fonts/fonts.scss";

@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

//@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

//.slide-in {
// position: fixed;
//top: 0;
// left: 0;
// height: 100vh;
// width: 100%;
//background: #066bb8;
//transform-origin: left;
//}

//.slide-out {
//  position: fixed;
// top: 0;
//left: 0;
//height: 100vh;
//width: 100%;
//background: #066bb8;
//transform-origin: right;
//}

body {
  color: #1f2937;
}

h1 {
  color: white;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
strong,
[class*="prose"] strong {
  @apply inline-block font-extrabold;
}

.container {
  color: white;
}

iframe[src*="youtube"],
iframe[src*="vimeo"] {
  @apply w-full h-auto rounded-xl;
  aspect-ratio: 16/9;
}

h1 {
  @apply text-4xl md:text-5xl lg:text-6xl leading-tight;
}

h2 {
  @apply text-3xl md:text-4xl lg:text-5xl;
}

h3 {
  @apply text-2xl md:text-3xl lg:text-4xl sm:text-xl;
}

h4 {
  @apply text-2xl xsm:text-xl sm:text-2xl md:text-4xl lg:text-5xl;
}
@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;

  padding: 0;
  font-size: inherit;
  font-family: inherit;
  &.learn-more {
    width: 10rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: #190873;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #1f2937;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: "";
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: #1f2937;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
          background: #fff;
          transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: white;
    }
  }
}

.circlecclip {
  clip-path: circle(80.3% at 100% 2%);

  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(0, 0, 0));
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#190873, black);
  border-radius: 5px;
}
input[type="file"]::file-selector-button {
  border: 2px dotted #6c5ce7;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  opacity: 50%;
  transition: 1s;
  border-radius: 5px;
}

input[type="file"]::file-selector-button:hover {
  opacity: 100%;
}

.form-submitted {
  display: none;
}
