@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
@import "../fonts/fonts.scss";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

//@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

//.slide-in {
// position: fixed;
//top: 0;
// left: 0;
// height: 100vh;
// width: 100%;
//background: #066bb8;
//transform-origin: left;
//}

//.slide-out {
//  position: fixed;
// top: 0;
//left: 0;
//height: 100vh;
//width: 100%;
//background: #066bb8;
//transform-origin: right;
//}

body {
  color: #1f2937;
}

h1 {
  color: white;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
strong,
[class*="prose"] strong {
  @apply inline-block font-extrabold bg-clip-text text-transparent bg-gradient-to-br from-logo-pink to-purple-600;
}

.container {
  color: white;
}

iframe[src*="youtube"],
iframe[src*="vimeo"] {
  @apply w-full h-auto rounded-xl;
  aspect-ratio: 16/9;
}

h1 {
  @apply text-4xl md:text-5xl lg:text-6xl leading-tight;
}

h2 {
  @apply text-3xl md:text-4xl lg:text-5xl;
}

h3 {
  @apply text-2xl md:text-3xl lg:text-4xl sm:text-xl;
}

h4 {
  @apply text-2xl xsm:text-xl sm:text-2xl md:text-4xl lg:text-5xl;
}
